.transition {
    position: relative;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.transition:last-child {
    border-bottom: 0;
}

.transition > [class*=span] {
    min-height: 5px;
}

.transition .state {
}
.transition h4 {
    margin: 0;
}

.transition .event {
    color: #aaa;
}

.transition .event::before {
    content: '\21d0';
    margin-right: 5px;
}

.transition .delay {
    position: absolute;
    top: -0.85em;
    left: 1em;
    color: #ccc;
    font-size: 0.85em;
    background-color: #fff;
    padding: 0 5px;
}

.transition .progress .bar {
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
    width: 100%;
}

.transition .progress {
    height: 8px;
    margin: 5px 0 0 0;
}

.transition .message {
    color: #999;
    font-size: 0.85em;
    margin: 0;
}

.transition .message::before {
    content: '\230a';
    margin-left: 10px;
    margin-right: 5px;
}

.transition .duration {
    text-align: right;
    font-size: 0.85em;
    color: #999;
    border-radius: 4px;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.4);
    font-weight: 500;
    left: 5px;
    top: 0;
}

.system {
}

.system .meta {
    color: #ccc;
}
