.transition {
    position: relative;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.transition:last-child {
    border-bottom: 0;
}

.transition > [class*=span] {
    min-height: 5px;
}

.transition .state {
}
.transition h4 {
    margin: 0;
}

.transition .event {
    color: #aaa;
}

.transition .event::before {
    content: '\2190';
    margin-right: 5px;
}

.transition .delay {
    position: absolute;
    bottom: -0.85em;
    left: 1em;
    color: #ccc;
    font-size: 0.85em;
    background-color: #fff;
    padding: 0 5px;
}

.transition .progress .bar {
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
    width: 100%;
}

.transition .progress {
    height: 8px;
    margin: 5px 0 0 0;
}

.transition .message {
    color: #999;
    font-size: 0.85em;
    margin-top: 5px;
}

.transition .duration {
    text-align: right;
    font-size: 0.85em;
    color: #999;
    border-radius: 4px;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.4);
    font-weight: 500;
    left: 5px;
    top: 0;
}

.system-links {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #eee;
    text-shadow: 0 1px 1px #fff;
    padding: 20px;
    overflow: auto;
}

.system-links .nav-list {
    padding-left: 0;
    padding-right: 0;
}

.system-links .nav-list li i {
    color: #ccc;
    float: right;
    margin-top: 6px;
    text-shadow: none;
}

.system-links .nav-list li i.active {
    color: #2980b9;
}

.system-links .nav-list li i.failed {
    color: #c0392b;
}

.system-links .nav-list li.active i {
    float: right;
    margin-top: 6px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.system-links .nav-list li.active a {
    background-color: #3498db;
}

.system-links a small {
    font-size: 0.8em;
    font-weight: 600;
}

.systems {
    box-shadow: -2px 0 5px #ccc;
    border-left: 1px solid #aaa;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 240px;
    padding: 20px 40px;
    overflow: auto;
}

.system-links > :first-child, .system > :first-child {
    margin-top: 0;
}

.system-links .loading, .systems .loading {
    color: #999;
}

.system {
    position: relative;
}

.system .meta {
    color: #ccc;
}
