<!doctype html>
<html>
    <head>
        <link rel=stylesheet href=http://twitter.github.io/bootstrap/assets/css/bootstrap.css>
        <link rel=stylesheet href="{{ STATIC_URL }}sts/css/style.css">
    </head>
    <body>
        <div class=container-fluid>
            <div class=row-fluid>
                <div class="span8 offset2">
                    <h3>Monitoring: {{ system }}</h3>
                    <div id=transitions></div>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>

        <script src="{{ STATIC_URL }}sts/js/sts.js"></script>

        <script>
            $(function() {
                var system = new STS.Models.System;

                // Set the system URL
                system.url = function() {
                    return '{% url "sts.views.system_detail" system.pk %}';
                }

                var transitions = new STS.Views.Transitions({
                    el: '#transitions',
                    collection: system.transitions
                });
                
                // Initial fetch
                system.fetch({parse: true});

                // TODO add ability to toggle this
                setInterval(function() {
                    system.fetch({parse: true});
                }, 5000);
            });
        </script>
    </body>
</html>

